.header{
    position: fixed;
    padding: 40px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}
#hr1{
    position: absolute;
    top: 50%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:2%;
    
}

.subrayado{
    text-decoration: underline;
}

label{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}
#background1{
    margin: 0px;
    height: 620px;
    width: 1400px;
    background-color: #addcf6;
    z-index: -5;
}

#position1{
    position: absolute;
    right:10%;
    top:37%;
    
    padding: 8px;
    border-left-style: solid;
    border-color: black;
    border-width: 8px;
}
#position2{
    position: absolute;
    right:5%;
    top:120%;

    padding: 8px;
    border-left-style: solid;
    border-color: black;
    border-width: 8px;
}

#position3{
    position: absolute;
    right: 30%;
    top:190%;
    padding: 8px;
    border-left-style: solid;
    border-color: #4A4EB5;
    border-width: 8px;
}




#SaludImg{
    position: absolute;
    height: 426px;
    width: 558px;
    left:5%;
    top:10%;
    border-width: 0px;
    background-repeat: no-repeat;
    background-image: url(../imagenes/IMGsalud.png);
    background-size: 558px 426px;
    
}
#BlockChainImg{
    position: absolute;
    top: 90%;
    left:5%;
    height: 610px;
    width: 611px;
    border-width: 0px;
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../imagenes/blockchain\ 1.png);
    background-size: 611px 610px;
}

#MedicoCompuImg{
    position: absolute;
    top: 180%;
    left:13%;
    height: 416px;
    width: 411px;
    border-width: 0px;
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../imagenes/MedicoCompu.png);
    background-size: 411px 416px;
    
}




