#logoIS{
    position: absolute;
    top:2%;
}
#ISbody{
    background-color: rgba(184, 238, 255, 0.5);

}
.Rbody{
    background-color: rgba(184, 238, 255, 0.5);

}
#MPbody{
    background-color: rgba(245, 245, 245, 0.5);
}
.greyBody{
    background-color: white(247, 247, 247, 0.5);
}

/*Layouts*/






.header{
  padding: 40px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#BtnSobreNos{
    position: absolute;
    top: 10%;
    left:20%;
}
#BtnMain{
    position: absolute;
    top: 5%;
    left:40%;
}
#BtnpacLayout{
    position: absolute;
    top: 10%;
    left:80%;
}
.autoLayoutIS{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 122px 362px;
    gap: 63px;

    position: relative;
    
}


#minibuttonPosition{
    position: absolute;
    text-align: center;
    top: 125%;
    left: 5%;
    right: 70%;
}

.ingresarCol1{
    position: absolute;
    text-align: center;
    top: 20%;
    right: 70%;
    left: 5%;
    height: 200px;
    width: 220px;
    
    /*border:4px solid #4A4EB5;
    border-radius: 40px;*/
}
.ingresarCol2{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    width: 220px;
    
    /*border:4px solid #4A4EB5;
    border-radius: 40px;*/
}