body{
    background-color: #fafafa;

}

/*Layouts*/
.autoLayoutIS{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 122px 362px;
    gap: 63px;

    position: relative;
    
}




/*Textos*/
h1 {
    font-family: Arial, sans-serif;
    color: #555555;
    
}
p{
    font-family: Arial, sans-serif;
    color: #555555;
}
.links{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: blue;
}

#loginform{
    width: 400px;
    height: 350px;
    text-align: center;
    margin: auto;
    background-image: url("../imagenes/FondoForm.png");
    background-position: center;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.ingresar {
    border-radius: 40px;
    border: 2px solid #3FADCF;
    padding: 10px 30px;
    font-size: 18px;
    
}







/*Botones*/
.minibutton{
    background-color: #B8EEFF;
    border-radius: 30px;
    color:#555555;
    border: 0px;
    width: 172px;
    height: 54px;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.bigbutton{
    background-color: rgba(63, 173, 207,0.6);
    border-radius: 40px;
    border: 0px;
    height: 522px;
    width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
    
}
#btnPacientes{
    background-image: url("../imagenes/Usuario\ Paciente.png");
    background-position: center;
    
}
.mainbutton{
    background-color: #3FADCF;
    border-radius: 40px;
    border: 0px;
    height: 694px;
    width: 406px;
    
}

